* {
  margin: 0;
}

/* NAVBAR-Cookbook */
nav {
  background-color: #bea987;
}

.container-fluid {
}
.nav-item a {
  color: black;
}
/* Hero */
#hero-section h1,
#hero-section h3 {
  text-shadow: 2px 2px 2px #333, 2px 2px 3px #9cae67;
}

#hero-section h1 {
  font-size: 12em;
}
#hero-section .card {
  background-color: #bea987;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #hero-section h1 {
    font-size: 3em;
  }
  #hero-section h3 {
    font-size: 0.5em;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  #hero-section h1 {
    font-size: 5em;
  }
  #hero-section h3 {
    font-size: 0.8em;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #hero-section h1 {
    font-size: 8em;
  }
  #hero-section h3 {
    font-size: 1.2em;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  ...;
}
/* About */
main {
  background-color: #9cae67;
}
#about-section .container-fluid {
  margin: 0;
  padding-top: 5%;
}
@media (max-width: 767px) {
  .container-fluid {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  #about-img {
    border-radius: 15%;
    margin: 10px;
  }
  #about-img-container {
    display: flex;
    justify-content: center;
    width: 150px;
    height: 150px;
  }
  #about-text-container {
    font-size: large;
    margin-bottom: 5%;
  }
}
#about-text-container p {
  margin: 10px 0;
}
#about-img {
  min-width: 10%;
  min-height: 10%;
  max-width: 250px;
  max-width: 250px;
  opacity: 70%;
  border-radius: 15%;
}
#about-img-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  padding: 0;
}
#about-text-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@media (min-width: 1111px) {
  #about-text-container {
    font-size: x-large;
  }
}

/* Cuisine */
#cuisine-section .container-fluid {
  padding-bottom: 2%;
  min-height: 60vh;
  margin: 0;
  display: flex;
  justify-content: space-evenly;

  flex-direction: column;
}
.cuisine-img {
  width: 300px;
  height: 300px;
  border-radius: 5%;
  min-width: 200px;
  min-height: 200px;
}

.cuisine-inner-div {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 5%;
  margin: auto;
  padding: 4%;

  flex-shrink: 1;
  opacity: 0.7;
  background-color: #aba2c49a;
}

.cuisine-inner-div:hover {
  opacity: 1;
  cursor: pointer;
}

#cuisine-row-1 {
  align-self: center;
  margin-bottom: 3%;
}
#cuisine-row-0 {
  align-self: center;
  background-color: white;
  height: 2px;
  width: 50%;
  margin: 5%;
  opacity: 0.5;
}
@media (max-width: 991px) {
  #cuisine-row-2 {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  #cuisine-row-2 .col-lg-4 {
    margin: 2%;
  }
}
main h2 {
  text-transform: uppercase;
}

/* Contact */

#contact-footer .container-fluid {
  background-color: #bea987;
  padding: 1%;
}
.footer-row {
  border: 0px solid white;
  padding: 10px;
}
.footer-col-3 a {
  color: black;
  font-weight: 500;
  border: 0px solid white;
  padding: 5px;
}
.footer-col-3 ul {
  list-style: none;
  border: 0px solid white;
  padding: 20px;
}
.footer-col-9 form {
  font-weight: 500;
  border: 0px solid white;
  padding: 20px;
}
.footer-col-9 button {
  border-color: white;
  border-right-color: white;
  box-shadow: none;
}
.footer-col-9 button:hover {
  background: transparent;
}
.footer-col-10 p {
  font-weight: 500;
  border: 0px solid white;
  align-content: center;
  padding: 20px;
  border-top: 1px solid black;
}
.footer-col-2 {
  padding: 20px;
  border-top: 1px solid black;
}
.footer-col-2 img {
  border-radius: 5px;
}

/*Recipe page */
.row-1-container {
  margin-top: 5%;
}
#chef-text {
  margin-top: 5%;
  font-size: large;
}
.chef-img {
  width: 400px;
  height: 400px;
  border-radius: 10%;
}
.chef-img-container {
  display: flex;
  justify-content: center;
}
.span-line-col {
  display: flex;
  justify-content: center;
  background-color: #9cae67;
  height: 2px;
  margin: 8%;
  border-radius: 2%;
}
/* Recipe*/
#dish-name {
  text-align: center;
}
.dish-name-container {
  margin-bottom: 5%;
}
#recipe-img-container {
  height: 400px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.recipe-img-col {
  height: 300px;
  width: 400px;
  border-radius: 15%;
}
#ingridients-header {
  padding-left: 4%;
}
.ingridients {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#directions {
  margin: 0 5% 5% 5%;
  font-size: large;
  line-height: 2em;
  padding: 0%;
}
#direction-header {
  margin-left: 5%;
  padding: 0%;
}
.recipe-img-col-dessert {
  width: 300px;
  height: 350px;
  border-radius: 15%;
}

/* Querries */

@media (max-width: 1270px) {
  #directions {
    margin: 0;
    margin-bottom: 5%;
    padding: 0%;
  }
  #direction-header {
    margin: 0%;
    margin-bottom: 3%;
    padding: 0%;
  }
}
@media (max-width: 990px) {
  #chef-text {
    text-align: center;
    margin-bottom: 5%;
  }
  #raiza {
    text-align: center;
  }
  #costa {
    text-align: center;
  }
  #recipe-img-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #ingridients-header {
    padding: 0;
    text-align: center;
    margin: 5%;
  }
  #direction-header {
    text-align: center; /*???*/
  }
  .dish-name-container {
    margin: 0;
  }
}
@media (max-width: 450px) {
  .chef-img {
    max-width: 200px;
    max-height: 200px;
  }

  .recipe-img-col {
    max-width: 250px;
    max-height: 200px;
  }
  .recipe-img-col-dessert {
    max-height: 250px;
    max-width: 200px;
  }
  #recipe-img-container {
    max-height: 250px;
  }

  #directions {
    text-align: center;
  }
}
@media (max-width: 770) {
}

#maindish .container-fluid{
  margin: 0;
}
.row .main-dish{
  justify-content: center;
  text-align: center;
  margin-bottom:3%;
}
#main-dish-row{
  align-self: center;
  justify-content: center;
  background-color: black;
  height: 1px;
  width: 90%;
  margin: 3%;
}

